<div class='home-btn'>
<a href="/" class="btn btn-link">Home</a> <a href='/teacher-admin/' class="btn btn-link">Teacher Admin</a>
</div>

<h1>Class Analytics</h1>

<form action="/analytics/lessons" method="post">

    <h3>Please select a Lesson</h3>
    <select id='lesson_id' name='lesson_id' type='text'>
        <% @lessons.each() do |lesson| %>
        <option value="<%= lesson.id()%>"> <%= lesson.name() %> </option>
        <% end %>
      </select>
      <br>
      <br>
      <button name="submit" class= "btn btn-success">See Feedback</button>

</form>

<% if @lesson != nil %>
    <%= @lesson.name %>

    <table style="width:100%">
      <tr>
        <th>name</th>
        <th>pair</th>
        <th>mood (1:sad - 3:happy)</th>
        <th>feedback</th>
        <th>comments</th>
      </tr>

    <% @lesson.feedbacks.each do |feedback| %>

            <% pair_id = feedback.pair_id.to_i %>
            <% found_pair = Student.find(pair_id) %>
            <% @pair = found_pair.name %>

          <tr>
            <td><%= feedback.student.name  %></td>
            <td><%= @pair %></td>
            <td><%= feedback.mood %></td>

                <% if feedback.mood_cause != nil %>
            <td><%= feedback.mood_cause %></td>
                <% else %>

                <% end %>
            <td><%= feedback.comment %></td>
          </tr>
        </table>

        <% end %>

<% else %>
    <h3> Select a lesson you would like to see feedback on </h3>
<% end %>
